<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AIS OPEN - VOLLEYBALL LEAGUE</title>
    <link rel="icon" type="image/png" href="title.png">
    <meta name="description" content="AIS OPEN - международная волейбольная лига для девочек">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css">
  </head>
<body>
    <nav class="Navbar">
      <div class="container">
        <div class="Logo">AIS OPEN</div>

        <div id="menu" class="menu">
          <header class="inline">
            <div class="Logo">AIS OPEN</div>
            <button
              id="closeMenuBtn"
              title="Close Menu"
              aria-label="Close Menu"
              class="NavButton"
            >
              <i class="ri-close-line"></i>
            </button>
          </header>

          <a href="#" class="NavLink">Главная</a>
          <a href="#schedules" class="NavLink">Расписание</a>
          <a href="#plans" class="NavLink">Инфо</a>
          <a href="#" class="NavLink">О турнире</a>
          <a href="Положение AIS Open.pdf" class="NavLink">Положение турнира</a>
        </div>

        <button
          id="openMenuBtn"
          title="Open Menu"
          aria-label="Open Menu"
          class="NavButton"
        >
          <i class="ri-menu-line"></i>
        </button>
      </div>
    </nav>
    <main>
      <section id="home">
        <div class="hero">
          <div class="visual">
            <picture>
              <img src="hero-image.png" alt="fitness">
            </picture>
          </div>

          <div class="content">
            <h1>AIS <mark>OPEN</mark> Starts here</h1>
            <div class="worldcup-count-down">
              <div class="count">
                  <h3 class="days">00</h3>
                  <span class="count-time">days</span>
              </div>
              <div class="count">
                  <h3 class="hours">00</h3>
                  <span class="count-time">hours</span>
              </div>
              <div class="count">
                  <h3 class="minutes">00</h3>
                  <span class="count-time">minutes</span>
              </div>
              <div class="count">
                  <h3 class="seconds">00</h3>
                  <span class="count-time">seconds</span>
              </div>
          </div>
            <div class="wrapper">
              <a href="https://docs.google.com/document/d/1ZbQMOwL1Qpl37AN6K29_6xla1Gx5U1QO/edit?usp=drive_link&ouid=115807703836124891496&rtpof=true&sd=true" class="LinkButton Primary">ПОДРОБНЕЕ</a>
            </div>
          </div>
        </div>

        <div id="discover" class="fold">
          <div class="subject">
            <p>
              It's a new day,
              <span style="color: var(--surface-2)"
                >a new opportunity to sculpt the best version of yourself.
                Embrace the energy,</span
              >
              feel the burn, and conquer your fitness goals with unwavering
              determination.
            </p>
          </div>
        </div>
      </section>
      <section id="schedules" class="schedule">
        <div class="subject">
          <div class="container">
            <div class="table-wrapper">
              <h2>6 March Games</h2>
              <table>
                <tr>
                  <th>Team 1</th>
                  <th>Team 2</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
              </table>
            </div>
            <div class="table-wrapper">
              <h2>7 March Games</h2>
              <table>
                <tr>
                  <th>Team 1</th>
                  <th>Team 2</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
              </table>
            </div>
            <div class="table-wrapper">
              <h2>7 March Games</h2>
              <table>
                <tr>
                  <th>Team 1</th>
                  <th>Team 2</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
              </table>
            </div>
            <div class="table-wrapper">
              <h2>7 March Games</h2>
              <table>
                <tr>
                  <th>Team 1</th>
                  <th>Team 2</th>
                  <th>Time</th>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
                <tr>
                  <td>SOON</td>
                  <td>SOON</td>
                  <td>SOON</td>
                </tr>
              </table>
            </div>
        </div>
        <div class="showcase">
          <video
            autoplay
            loop
            muted
            role="none"
          >
            <source src="videoback.mp4" type="video/mp4" />
          </video>
          <img src="rhythm.png" alt="Rhythm" />
        </div>
      </section>

      <section id="plans" class="cards">
        <div class="subject">
          <div class="container">
            <a href="#" class="Card">
              <div>
                <h2>AIS DINING HALL</h2>
                <img src="stolovaya.png">
              </div>
            </a>
            <a href="#" class="Card">
              <div>
                <h2>"CAMPIT" RELAX ROOM</h2>
                <img src="relax.jpg">
              </div>
            </a>
            <a href="#" class="Card">
              <div>
                <h2>"CAMPIT" ROOMS</h2>
                <img src="room.jpg">
              </div>
            </a>
            * Питание и проживание за счет организации (AIS) на базе лагеря CAMPIT
          </div>
        </div>
      </section>

      <section id="about" class="about">
        <div id="target-word">love</div>
        <footer>
          <p>
            International Volleyball League by
            <a
              href="https://www.instagram.com/ais_aqbobek/"
              style="color: var(--brand-1); text-decoration: none"
              >AIS</a
            >
            <img src="vertlogo.png">
            ПО ВСЕМ ВОПРОСАМ +7 771 168 8687
          </p>
        </footer>
      </section>
    </main>
   <script src="main.js"></script>
   <!--made in china by alpamyssio-->
  </body>