<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'favicon.png' %}">
</head>
<body>
    <header>
            <div class="AIS">
                <img src="{% static 'whitelogo.png' %}">
                <div class="AIS-Text">
                    <p><a href="{% url 'home' %}"><b>AQBOBEK INTERNATIONAL SCHOOL</b></a></p>
                    <p>Learning Management System</p>
                </div>
            </div>
            <div class="Person">
                <p id="name">{{ name }}</p>
                <a href="{% url 'user_settings' %}">
                    <img id="picture">
                </a>
            </div>
    </header>
    <script>
        fetch('{% url "get_user_info" %}')
        .then(response => response.json())
        .then(data => {
            // Update the HTML with the fetched data
            document.getElementById('name').textContent = data.name;
            document.getElementById('picture').src = '/api/serve_static/' + data.picture;
        })
        .catch(error => console.error('Error fetching user info:', error));
    </script>
    {% block content %}
    {% endblock %}
</body>
</html>