{% extends 'index.html' %}
{% block content %}
<br/>
<div class="col-md-6 offset-md-3">

<h1>Student Record:</h1><br/>
    <div class="card">
  <div class="card-header">
      <strong>{{ student.user.first_name }}
          {{ student.user.last_name }}</strong>
  </div>
  <div class="card-body">
      <p class="card-text">
          <button type="button">
              <td><a href="{% url 'send' pk=student.id amount=5 %}">Send 5 coins</a></td></button><br/>
          I luv NY
      </p>
  </div>
    </div>
</div>
{% endblock %}
