@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #dcdcdc;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 20px auto;
    display: flex;
    gap: 45px;
    background-color: #fff;
    width: 100%;
    max-width: 960px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container img{
    width: 50%;
    border-radius: 20px;
    object-fit: cover;
}

.container .parent_info{
    width: 50%;
}

.parent_info h2{
    text-align: center;
    color: #100629;
    font-size: 30px;
}

.form-control{
    position: relative;
    margin-bottom: 15px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-control input,
.form-control textarea{
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;
}
.form-control input:focus {
    border: 2px solid #59007A;
}
button{
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #59007A;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease;
}

button:hover{
    background-color: #FF9C2E;
}

.form-control .icon{
    position: absolute;
    right: 10px;
    top: 71%;
    transform: translateY(-50%);
    font-size: 20px;
    color: transparent;
    pointer-events: none;
}

.form-control.success input,
.form-control.success textarea{
    border-color: #2ecc71;
}

.form-control.success .icon{
    color: #2ecc71;
}

.form-control.error input,
.form-control.error textarea{
    border-color: #e74c3c;
}

.form-control.error .icon,
.form-control.error input::placeholder,
.form-control.error textarea::placeholder{
    color: #e74c3c;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out; /* Добавляем анимацию появления */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    width: 100%;
    max-width: 500px;
    border: 1px solid #888;
    border-radius: 10px;
    text-align: center;
    animation: slideIn 0.3s ease-in-out; /* Добавляем анимацию появления */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

.modal-content h2 {
    font-size: 38px;
    color: #59007A;
    padding-bottom: 15px;
}
.close-button{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.close-button:hover,
.close-button:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input-div {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: border 0.3s;
    font-size: 1rem;
    background-color: #5050500c;
}
